<nav class="bg-blue-500">
  <div class="mx-auto max-w-9xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img class="h-12 w-auto" src="assets/logo3.png" alt="Your Company">
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center space-x-4 pr-2 sm:static sm:inset-auto sm:ml-4 sm:pr-0">
        <a href="#" class="rounded-md bg-#2bb0b0-700 px-3 py-2 text-sm font-medium text-white border border-white" aria-current="page">FAQ</a>
        <a href="#" class="rounded-md bg-#2bb0b0-700 px-3 py-2 text-sm font-medium text-white border border-white" aria-current="page">Contact</a>
        <a href="#" class="rounded-md bg-#2bb0b0-700 px-3 py-2 text-sm font-medium text-white border border-white" aria-current="page">Sign Up</a>
      </div>
    </div>
  </div>
</nav>
<br>
<!-- about us -->
<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleWhite" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleWhite" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleWhite" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="8000">
      <img src="assets/slide3.jpeg" class="d-block w-50 mx-auto" style="width: 20px;height:340px" alt="Nos services"> <!-- w-50 for size and mx-auto for centering -->
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Service Kinésithérapie</h5>
        <p>Some representative placeholder content for the first slide.</p> -->
      </div>
    </div>
    <div class="carousel-item active" data-bs-interval="8000">
      <img src="assets/slide2.jpg" class="d-block w-50 mx-auto" style="width: 40px;height:340px" alt="Nos services"> <!-- w-50 for size and mx-auto for centering -->
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Service Kinésithérapie</h5>
        <p>Some representative placeholder content for the first slide.</p> -->
      </div>
    </div>
    <div class="carousel-item active" data-bs-interval="8000">
      <img src="assets/logo3.png" class="d-block w-50 mx-auto" style="width: 40px;height:340px"  alt="Notre Logo de l'application"> <!-- w-50 for size and mx-auto for centering -->
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Service Kinésithérapie</h5>
        <p>Some representative placeholder content for the first slide.</p> -->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<!--  des cartes pour les offres -->
<div class="container">
  <div class="row">
    <!-- <input id="myInput" type="text" placeholder="Search.." style="position: absolute;height: 35px;margin-top: -86px;border-color: #3087ce;margin-left: 777px;width: 130px;border: 2px solid;border-radius: 5px;"> -->
    <!-- Conteneur principal avec 3 cartes à gauche -->
    <div class="col-md-8">
      <div class="container mt-4" id="scrollableContainer">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">Offre de 5 séances de réeducation</h5>
                <br>
                <p class="card-text">  <b style="color:red"> 1000 dh </b> au lieux de 1250 dh</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <h5 class="card-title">Offre de 10 séance de réeducation </h5>
                <br>
                <p class="card-text"> <b style="color:red"> 2000 dh</b> au lieux de 2500 dh.</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <h5 class="card-title">Offre Massage Thérapeutique du Dos 30min</h5>
                <p class="card-text"><b style="color:red"> 200 dh</b> au lieux de 300 dh.</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">Offre de massage Thérapeutique + Cupping Thérapie Détox </h5>
                <p class="card-text"><b style="color:red"> 250 dh</b> au lieux de 400 dh.</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <h5 class="card-title">Offre de massage membre inférieure + stretching</h5>
                <p class="card-text"><b style="color:red"> 400 dh</b> au lieux de 600 dh</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <h5 class="card-title">Offre de massage relaxant corps complet</h5>
                <br>
                <p class="card-text"><b style="color:red"> 499 dh</b> au lieux de 700 dh</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">Offre 1</h5>
                <p class="card-text">Description de la première carte.</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <h5 class="card-title">Offre 2</h5>
                <p class="card-text">Description de la deuxième carte.</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <h5 class="card-title">Offre 3</h5>
                <p class="card-text">Description de la troisième carte.</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">Offre 1</h5>
                <p class="card-text">Description de la première carte.</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <h5 class="card-title">Offre 2</h5>
                <p class="card-text">Description de la deuxième carte.</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="assets/img1.jpg" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <h5 class="card-title">Offre 3</h5>
                <p class="card-text">Description de la troisième carte.</p>
                <a href="#" class="btn btn-success">Voir les détails</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Nouvelle colonne à droite avec une seule carte -->
    <div class="col-md-4">
      <div class="card" style="width: 100%; height: 300px; margin-top: 20%;">
        <img src="assets/img1.jpg" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <h4 class="card-title">Offre de Kinésithérapie à Domicile </h4>
          <p class="card-text"><b style="color:red"> 250 dh</b> au lieux de 300 dh</p>
          <a href="#" class="btn btn-success">Voir les détails</a>
        </div>
        <div class="card" style="width: 100%; height: 300px; margin-top: 10%;">
          <img src="assets/img1.jpg" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h4 class="card-title">Offre de Consultation Kinésithérapeutique</h4>
            <p class="card-text"><b style="color:red"> Gratuite </b></p>
            <a href="#" class="btn btn-success">Voir les détails</a>
          </div>
      </div>
    </div>
  </div>
</div>


