<app-navbar></app-navbar>
<br>

<div class="container">
        <div class="col-lg-9 col-lg-offset-2">
          <i class="fa-regular fa-comment"></i><h1 style="font-weight: 800;"><strong style="color: #2bb0b0;">C</strong>ontact</h1>
                <form>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="form_name">Titre <i id='obl'>*</i></label>
                                  <select class="form-control" name="titre">
                                    <option>Mr</option>
                                    <option>Mme</option>
                                  </select>
                            </div>
                        <div class="col-md-6">
                            <label for="form_lastname">Nom <i id='obl'>*</i></label>
                            <input id="form_lastname" type="text" name="Nom" class="form-control" placeholder="Entrer votre Nom *" required="required">
                        </div>
                        <div class="col-md-6">
                            <label for="form_lastname">Prénom <i id='obl'>*</i></label>
                            <input id="form_lastname" type="text" name="Prenom" class="form-control" placeholder="Entrer votre Prénom" required="required">
                        </div>
                        <div class="col-md-6">
                            <label for="form_email">Email <i id='obl'>*</i></label>
                            <input id="form_email" type="email" name="email" class="form-control" placeholder="Entrer votre email *" required="required">
                        </div>

                        <div class="col-md-6">
                            <label for="form_phone">Téléphone</label>
                            <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Entrer votre telephone">
                        </div>

                        <div class="col-md-6">
                            <label for="form_phone">Ville</label>
                            <input id="form_phone" type="tel" name="Ville" class="form-control" placeholder="Entrer votre Ville">
                        </div>
                        <div class="col-md-12">
                            <label for="form_message">Message <i id='obl'>*</i></label>
                            <textarea id="form_message" name="message" class="form-control" placeholder="Entrer votre Message*" rows="4" required="required"></textarea>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-dark btn-send" value="Envoyer message">
                        </div>
                        <div class="col-md-12">
                            <p style="text-align: left !important;color: red" class="text-muted"><strong style="color: red">*</strong>: Champs obligatoires.</p>
                        </div>
                    </div>
              </div>
        </form>
  </div>
</div>





