<app-navbar></app-navbar>

<form>
  <fieldset>
    <legend>Veuillez préciser le statut auquel vous appartenez :</legend>

    <!-- Liste déroulante -->
    <label for="user-type">Statut :</label>
    <select id="user-type>">
      <option value="" selected disabled>--Sélectionnez--</option>
      <option value="patient">Patient</option>
      <option value="donneur">Donneur</option>
      <option value="kine">Kinésithérapeute</option>
    </select>

    <!-- Message d'erreur si aucun statut n'est sélectionné -->
    <div *ngIf="!userType && userType !== ''" class="error-message">
      <small style="color: red;">Veuillez sélectionner un statut.</small>
    </div>
  </fieldset>

  <!-- Bouton pour soumettre le formulaire -->
  <button type="button" (click)="navigateToNext()">Suivant</button>
</form>
