<!DOCTYPE html>
<html>
    <head>
        <title>Inscription</title>
    </head>
    <body>
<form  >
<fieldset>
    <legend>Veuillez préciser le statut auquel vous appartenez:</legend>
   
   <input id="patient" type="radio" name="user" value="patient">
   <label for="patient">patient</label> <br><br>
   <input id="donneur" type="radio" name="user" value="donneur">
   <label for="donneur">donneur</label> <br><br>
   <input id="kine" type="radio" name="user" value="kine">
   <label for="kine">kinésithérapeute</label> <br><br>
  <a href="/inscription-patient" class="button"> suivant</a>
</fieldset>
</form>
</body>
</html>
